body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: url('../img/north-pole.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 350px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .container {
        width: 300px;
    }  
}

.profile img {
    width: 142.5px;
    height: 142.5px;
    margin: 0 auto;
    object-fit: cover;
}

.profile h1 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}

.profile p {
    font-size: 18px;
    color: #333;
    margin: 5px 0;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    font-size: 24px;
    color: #333;
    margin: 0 10px;
    text-decoration: none;
}

.social-links i {
    transition: transform 0.3s;
}

.social-links i:hover {
    transform: scale(1.15);
}

